<AzureNavigationTop></AzureNavigationTop>
<nav style="display: none;">
    <div class="menu">
      <i class="material-icons">menu</i>
    </div>
    <div class="logo">
      <span>Microsoft Azure</span>
    </div>
    <div class="search">
      <div class="input-wrapper">
        <i class="material-icons">search</i>
        <input class="search-input" type="text" placeholder="Search resources, services, and docs (G+/)">
      </div>
    </div>
    <div class="actions">
      <div class="action-items">
        <i class="material-icons">laptop</i>
      </div>
      <div class="action-items">
        <i class="material-icons">filter_list</i>
      </div>
      <div class="action-items">
        <i class="material-icons">notifications_none</i>
      </div>
      <div class="action-items">
        <i class="material-icons">settings</i>
      </div>
      <div class="action-items">
        <i class="material-icons">help_outline</i>
      </div>
      <div class="action-items">
        <i class="material-icons">insert_emoticon</i>
      </div>
    </div>
    <div class="profile">
      <div class="details">
        <span class="mail">shrihari.ct19@outlook.in</span>
        <span>DEFAULT DIRECTORY</span>
      </div>
      <div class="image">
        <img src="https://gravatar.com/avatar/506e8cd41919638c2fcbfff4ace4bbed" alt="Profile Image">
      </div>
    </div>
  </nav>
  
  <main>
  
    <div class="services">
      <h4>Azure Services</h4>
      <div class="services-items">
        <div class="services-item more-icon">
          <i class="material-icons">add</i>
          <span>Create a resource</span>
        </div>
  
        <div class="services-item">
          <img src="@/assets/images/azure/vm.svg" alt="Icon">
          <span>Virtual Machine</span>
        </div>
  
        <div class="services-item">
          <img src="@/assets/images/azure/web.svg" alt="Icon">
          <span>Static Web Apps</span>
        </div>
  
        <div class="services-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/App-Services.svg" alt="Icon">
          <span>App Services</span>
        </div>
  
        <div class="services-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/SQL-Database.svg" alt="Icon">
          <span>SQL Databases</span>
        </div>
  
        <div class="services-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/Kubernetes-Services.svg" alt="Icon">
          <span>Kubernetes Services</span>
        </div>
  
        <div class="services-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/Load-Balancers.svg" alt="Icon">
          <span>Load Balancers</span>
        </div>
  
        <div class="services-item more-icon">
          <i class="material-icons ">keyboard_backspace</i>
          <span>More Services</span>
        </div>
      </div>
    </div>
  
    <div class="recent">
      <h4>Recent Resources</h4>
      <div class="recent-items">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Last Viewed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="item">
                  <img src="@/assets/images/azure/vm.svg" alt="Icon">
                  <span>COVID19-Server</span>
                </div>
              </td>
              <td>Virtual Machine</td>
              <td>3 weeks ago</td>
            </tr>
            <tr>
              <td>
                <div class="item">
                  <img src="http://code.benco.io/icon-collection/azure-icons/SQL-Database.svg" alt="Icon">
                  <span>COVID19-db</span>
                </div>
              </td>
              <td>SQL Databases</td>
              <td>4 weeks ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="navigate">
      <h4>Navigate</h4>
      <div class="navigate-items">
        <div class="navigate-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/Subscriptions.svg" alt="Icon">
          <span>Subscriptions</span>
        </div>
  
        <div class="navigate-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/Resource-Group-List.svg" alt="Icon">
          <span>Resource groups</span>
        </div>
  
        <div class="navigate-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/All-Resources.svg" alt="Icon">
          <span>All resources</span>
        </div>
  
        <div class="navigate-item">
          <img src="http://code.benco.io/icon-collection/azure-icons/Dashboard.svg" alt="Icon">
          <span>Dashboard</span>
        </div>
      </div>
    </div>
  
    <div class="tools">
      <h4>Tools</h4>
      <div class="tools-items">
        <div class="tools-item">
          <div class="icon">
            <img src="http://code.benco.io/icon-collection/azure-icons/Learn.svg" alt="Icon">
          </div>
          <div class="detail">
            <div class="name"> <span>Microsoft Learn</span> <i class="material-icons">open_in_new</i></div>
            <div class="info">Learn Azure with free online training from Microsoft Azure</div>
          </div>
        </div>
        <div class="tools-item">
          <div class="icon">
            <img src="http://code.benco.io/icon-collection/azure-icons/Monitor.svg" alt="Icon">
          </div>
          <div class="detail">
            <div class="name"> <span>Azure Monitor</span> <i class="material-icons">open_in_new</i></div>
            <div class="info">Monitor Monitor your apps and infrastructure</div>
          </div>
        </div>
        <div class="tools-item">
          <div class="icon">
            <img src="http://code.benco.io/icon-collection/azure-icons/Network-Security-Groups.svg" alt="Icon">
          </div>
          <div class="detail">
            <div class="name"> <span>Security Center</span> <i class="material-icons">open_in_new</i></div>
            <div class="info">Security Center Secure your apps and infrastructure</div>
          </div>
        </div>
        <div class="tools-item">
          <div class="icon">
            <img src="http://code.benco.io/icon-collection/azure-icons/Cost-Management.svg" alt="Icon">
          </div>
          <div class="detail">
            <div class="name"> <span>Cost Management</span> <i class="material-icons">open_in_new</i></div>
            <div class="info">Analyze and optimize your cloud spend for free</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="footer">
      <div class="link-wrapper">
        <h4>Useful Links</h4>
        <div class="links">
          <div class="links-items">
            <div class="link-item">
              <span>Technical Documentation</span> <i class="material-icons">open_in_new</i>
            </div>
            <div class="link-item">
              <span>Azure Migration Tools</span> <i class="material-icons">open_in_new</i>
            </div>
          </div>
  
          <div class="links-items">
            <div class="link-item">
              <span>Azure Services</span> <i class="material-icons">open_in_new</i>
            </div>
            <div class="link-item">
              <span>Find an Azure expert
              </span> <i class="material-icons">open_in_new</i>
            </div>
          </div>
  
          <div class="links-items">
            <div class="link-item">
              <span>Recent Azure Updates</span> <i class="material-icons">open_in_new</i>
            </div>
            <div class="link-item">
              <span>Quickstart Center
              </span> <i class="material-icons">open_in_new</i>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile">
        <h4>Azure mobile app</h4>
        <div class="mobile-action">
          <a href="https://itunes.apple.com/app/microsoft-azure/id12190113620?ls=1mt=8" target="_blank" id="apple-store">
            <img class="azure-apple-store" src="@/assets/images/icons/apple-store.svg" alt="Download on the App Store">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.microsoft.azure" target="_blank" id="google-playstore">
            <img class="azure-google-playstore" src="@/assets/images/icons/google-playstore.svg" alt="Get it on Google Play">
          </a>
        </div>
      </div>
    </div>
  
  </main>